<div id="page-wrapper">
<div class="col-lg-3 col-md-6">      
  <div class="row">
    <h1>Login</h1>
      <%= form_tag "/login", method: :post do %>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" value="Log In" class="btn btn-default">Log In</button>
      <% end %>
  </div>
</div>
<div class="col-lg-5 col-md-6">
  <h1>Signup!</h1>
  <%= form_tag '/users', method: :post do  %>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group hidden">
      <label for="device_id">Device ID:</label>
      <input type="text" class="form-control" name="device_id" value="SM87361092">
    </div>
    <div class="form-group">
      <label for="blood_sugar_lower">Blood Sugar Lower Bound:</label>
      <input type="int" class="form-control" name="blood_sugar_lower" value="70">
    </div>
    <div class="form-group">
      <label for="blood_sugar_upper">Blood Sugar Upper Bound:</label>
      <input type="int" class="form-control" name="blood_sugar_upper" value="200">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" value="Submit" class="btn btn-default">Submit</button>
  <% end %>
</div>

<div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user fa-fw"></i>Top Users</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Level</th>
                  <th>Points</th>
                  <th>Icon of Choice</th>
                  <th>Badges Earned</th>
              </tr>
              </thead>
              <tbody>
                <% users = User.all.order('level desc') %>
                <% x=0 %>
                <% 10.times do %>
                  <tr>
                    <td><%= users[x].username %></td>
                    <td><%= users[x].level %></td>
                    <td><%= users[x].total_points(users[x]) %></td>
                    <td><img src="<%= users[x].icon %>" height=25px></td>
                    <td>
                      <% if users[x].days_logged(users[x]) >= 14 %>
                        <img src="/trophies/calendar_silver.png" alt="" width=30px>
                        
                      <% elsif users[x].days_logged(users[x]) >= 7 %>
                        <img src="/trophies/calendar_bronze.png" alt="" width=30px>
                        
                      <% end %>
                      <% if users[x].best_day(users[x]) == "100%" %>
                        <img src="/trophies/100.png" alt="" width=30px>
                        
                      <% elsif users[x].best_day(users[x]) == "90%"  %>
                        <img src="/trophies/90.png" alt="" width=30px>
                       
                      <% elsif users[x].best_day(users[x]) == "80%"  %>
                        <img src="/trophies/80.png" alt="" width=30px>
                        
                      <% end %>
                    </td>
                  </tr>
                  <% x+=1 %>
                <%end%>
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
</div>