<!DOCTYPE html>
<html lang="en"> 
<h3>" "</h3>
 <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <%= @user.username%>'s Page<small></small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3" >
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Level:<%= @user.calc_level(@user) %></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Points: <%= @user.total_points(@user) %></div>
                                        <div>Points To Next Level: <%= @user.points_left %></div>
                                        <div class="progress">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.progress%>%"><span class="sr-only"></span>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">AVG:  <%= @avgbg %></div>
                                        <div>(Over the last 30 days)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <% if @a1c <= 7 %>
                        <div class="panel panel-green">
                      <% elsif @a1c >7 && @a1c < 8%>
                        <div class="panel panel-yellow">
                      <% else %>
                        <div class="panel panel-red">
                      <% end %>
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">A1c: <%= @a1c %></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Blood Sugar Values from the most recently input 24 Hours (<%= @user.points[-1].created_at.strftime("%A, %b %d") %>)</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                  <%= line_chart @daily_chart_data, 
                                  {height: "250px", library: {hAxis: {title: "Time"}, 
                                  vAxis: {title: "BG", viewWindow: {min: 40, max:350}}}} %>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Spend Points</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                  <h3><a href="/users/<%=@user.id%>/spend">Spend your points on new Icons and Backgrounds!</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                          <% if @user.points[-1].created_at > (Time.now - 24.hours) %>
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Daily Results</h3>
                            </div>
                            <div class="panel-body">
                              <div>
                                <%= pie_chart @daychart, {height: "250px", width: "100%"}%>
                              </div>
                            </div>
                          <% else %>
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>All Time Results</h3>
                            </div>
                            <div class="panel-body">
                              <div>
                                <%= pie_chart @chart, {height: "250px", width: "100%"}%>
                              </div>
                            </div>
                          <% end %>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Import Daily Data</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                  <%= form_tag "/points", method: :post, multipart: true do %>
                                    <div>
                                      <input type="file" name="file">
                                      <input type='integer' class="hidden" name="value">
                                    <input type ="submit" value="Add Points">
                                    </div>
                                  <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>
                                  <%= month_calendar do |date| %>
                                    <%= date.day %>
                                    <% @user.points.each do |entry|%>
                                      <% if entry.created_at.day == date.day && entry.created_at.month == date.month %>
                                        <img src="/images/<%=@user.icon%>" height=40%>
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Donut
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">just now</span>
                                        <i class="fa fa-fw fa-calendar"></i> Calendar updated
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">4 minutes ago</span>
                                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">23 minutes ago</span>
                                        <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">46 minutes ago</span>
                                        <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1 hour ago</span>
                                        <i class="fa fa-fw fa-user"></i> A new user has been added
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">2 hours ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">yesterday</span>
                                        <i class="fa fa-fw fa-globe"></i> Saved the world
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">two days ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Order #</th>
                                                <th>Order Date</th>
                                                <th>Order Time</th>
                                                <th>Amount (USD)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>3326</td>
                                                <td>10/21/2013</td>
                                                <td>3:29 PM</td>
                                                <td>$321.33</td>
                                            </tr>
                                            <tr>
                                                <td>3325</td>
                                                <td>10/21/2013</td>
                                                <td>3:20 PM</td>
                                                <td>$234.34</td>
                                            </tr>
                                            <tr>
                                                <td>3324</td>
                                                <td>10/21/2013</td>
                                                <td>3:03 PM</td>
                                                <td>$724.17</td>
                                            </tr>
                                            <tr>
                                                <td>3323</td>
                                                <td>10/21/2013</td>
                                                <td>3:00 PM</td>
                                                <td>$23.71</td>
                                            </tr>
                                            <tr>
                                                <td>3322</td>
                                                <td>10/21/2013</td>
                                                <td>2:49 PM</td>
                                                <td>$8345.23</td>
                                            </tr>
                                            <tr>
                                                <td>3321</td>
                                                <td>10/21/2013</td>
                                                <td>2:23 PM</td>
                                                <td>$245.12</td>
                                            </tr>
                                            <tr>
                                                <td>3320</td>
                                                <td>10/21/2013</td>
                                                <td>2:15 PM</td>
                                                <td>$5663.54</td>
                                            </tr>
                                            <tr>
                                                <td>3319</td>
                                                <td>10/21/2013</td>
                                                <td>2:13 PM</td>
                                                <td>$943.45</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                      <a href="/users/<%=@user.id%>"><img src="/images/smily.png" alt=""></a>
                      <%= form_tag "/users/#{@user.id}", method: :patch do %>
                        <div>
                          <input type="text" class="form-control" name="form_icon">
                          <input type ="submit" value="Update Icon">
                        </div>
                      <% end %>
                      <button>pick this icon</button>
                    </div>
                    <div>
                      <a href="/users/<%=@user.id%>"><img src="/images/thumbs_up.png" alt=""></a>
                      <button>pick this icon</button>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
  <h1><%= @user.username%>'s Page</h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Device ID: <%= @user.device_id %>
  <h2>Level: <%= @user.calc_level(@user) %></h2>
  <h3>Points: <%= @user.total_points(@user) %> </h3>
  <p>Points To Next Level: <%= @user.points_left %></p>
  <div id='app'>
  <button v-on:click="showBG">
    Show/Hide BGs
  </button>
  </div>
  <!-- <button v-on:click="showDaily()">
  Show Today's Results/Earn Points
  </button> -->
  </h2>
  <div class="entries hidden" style="height:120px;width:300px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    <h3></a> <% @user.entries.sort_by{|entry| entry.created_at}.each do |entry|%></h3>
      <p><%= entry.created_at %> BG: <%= entry.bg %></p>
    <h3><% end %></h3>
  </div>
  <%= form_tag "/points", method: :post, multipart: true do %>
    <div>
      <input type="file" name="file">
      <input type='integer' class="hidden" name="value">
    <input type ="submit" value="Add Points">
    </div>
  <% end %>
  <!-- <div class="entries hidden"> <%= pie_chart @daychart %> </div> -->
<%= pie_chart @daychart %>
<%= pie_chart @chart %>
<%= pie_chart @user.entries.group_by_hour(:created_at).count %>

<%= line_chart @daily_chart_data, 
{height: "400px", library: {hAxis: {title: ""}, 
 vAxis: {title: "BG", viewWindow: {min: 40, max:350}}}} %>
<!-- <div id="myfirstchart" style="height: 250px;"></div>
<script>
new Morris.Line({
  element: 'myfirstchart',
  data: [
    { time: '2008', BG: 20 },
    { time: '2009', BG: 10 },
    { time: '2010', BG: 5 },
    { time: '2011', BG: 5 },
    { time: '2012', BG: 20 }
  ],
  xkey: 'time',
  ykeys: ['BG'],
  labels: ['BG']
});
</script>
</div>
 --><!-- data=[]
@user.entries.each do |entry|
  point={time: 'entry.created_at', BG: 'entry.bg'}
  data<<point
end -->
