<!DOCTYPE html>
<html lang="en"> 
<style>
  .solid {border-style: solid; border-width: 1px;}
</style>
 <div id="page-wrapper" style="background-image: url(<%= @user ? @user.background : '0.jpg' %>); ">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <%= @user.username%>'s Page<small></small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3" >
                                        <i class="fa fa-user fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Level:<%= @user.calc_level(@user) %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-gamepad fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Points: <%= @user.total_points(@user) %></div>
                                        <div>Points To Next Level: <%= @user.points_left %></div>
                                        <div class="progress">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.progress%>%"><span class="sr-only"></span>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 hidden">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-line-chart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">AVG:  <%= @avgbg %></div>
                                        <div>(Over the last 30 days)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <% if @a1c <= 7 %>
                        <div class="panel panel-green">
                      <% elsif @a1c >7 && @a1c < 8%>
                        <div class="panel panel-yellow">
                      <% else %>
                        <div class="panel panel-red">
                      <% end %>
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-heart-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">A1c: <%= @a1c %></div>
                                        <div class="medium">Avg BG:  <%= @avgbg %></div>
                                        <div>(Over the Last 30 Days)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" style=opacity:0.9;>
                        <div class="panel panel-red">
                            <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-trophy fa-fw"></i> Badges </h3>
                            </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                      <% if @user.days_logged(@user) >= 14 %>
                                        <img id='logged_trophy' src="/trophies/calendar_silver.png" alt="" width=75px>
                                        <div id='logged_trophy_popup'>14 Days Logged This Month. Silver Level</div>
                                      <% elsif @user.days_logged(@user) >= 7 %>
                                        <img id='logged_trophy' src="/trophies/calendar_bronze.png" alt="" width=75px>
                                        <div id='logged_trophy_popup'>7 Days Logged This Month. Bronze Level</div>
                                      <% else %>
                                        <i class="fa fa-question-circle fa-5x"></i>
                                      <% end %>
                                    </div>
                                    <div class="col-xs-4" >
                                      <% if @user.best_day(@user) == "100%" %>
                                        <img id='best_day_trophy' src="/trophies/100.png" alt="" width=75px>
                                        <div id='best_day_trophy_popup'>100% in Target. Gold Level</div>
                                      <% elsif @user.best_day(@user) == "90%"  %>
                                        <img id='best_day_trophy' src="/trophies/90.png" alt="" width=75px>
                                        <div id='best_day_trophy_popup'>90% in Target. Silver Level</div>
                                      <% elsif @user.best_day(@user) == "80%"  %>
                                        <img id='best_day_trophy' src="/trophies/80.png" alt="" width=75px>
                                        <div id='best_day_trophy_popup'>80% in Target. Bronze Level</div>
                                      <% else %>
                                        <i class="fa fa-question-circle fa-5x"></i>
                                      <% end %>
                                    </div>
                                    <div class="col-xs-4" >
                                        <i class="fa fa-question-circle fa-5x"></i>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row" style=opacity:0.8;>
                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-line-chart fa-fw"></i> Blood Sugar Values from the most recently input 24 Hours (<%= @user.points[-1].created_at.strftime("%A, %b %d") %>)</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                  <%= line_chart @daily_chart_data, 
                                  {height: "250px", library: {hAxis: {title: "Time"}, 
                                  vAxis: {title: "BG", viewWindow: {min: 40, max:350}}}} %>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-green" style=opacity:0.9;>
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Rewards!</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                  <h3><a href="/users/<%=@user.id%>/spend">Check Your Level Rewards! Bonus Icons and Backgrounds!</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-red">
                          <% if @user.points[-1].created_at > (Time.now - 24.hours) %>
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pie-chart fa-fw"></i>Daily Results</h3>
                            </div>
                            <div class="panel-body">
                              <div>
                                <%= pie_chart @daychart, {height: "250px", width: "100%"}%>
                              </div>
                            </div>
                          <% else %>
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pie-chart fa-fw"></i>All Time Results</h3>
                            </div>
                            <div class="panel-body">
                              <div>
                                <%= pie_chart @chart, {height: "250px", width: "100%"}%>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      <% if @user.time_left != "Time to Enter Your Data!" %>
                        <div class="panel panel-primary">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-xs-3">
                                <i class="fa fa-calendar fa-5x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                <h3>You've Logged <%= @user.daysinrow %> Days in a Row!</h3>
                                <div><%= @user.time_left %></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <%else%>
                        <div class="panel panel-primary">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-folder-open fa-fw"></i>Import Data!</h3>
                          </div>
                          <div class="panel-body">
                            <div>
                              <%= form_tag "/points", method: :post, multipart: true do %>
                                <div>
                                  <input type="file" name="file">
                                  <input type='integer' class="hidden" name="value">
                                  <input type ="submit" value="Add Points">
                                  <div><%= @user.time_left %></div>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-primary">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-calendar fa-fw"></i>Days Tracked</h3>
                          </div>
                            <div class="panel-body">
                                <div>
                                  <%= month_calendar do |date| %>
                                    <%= date.day %>
                                    <% @user.points.each do |entry|%>
                                      <% if entry.created_at.day == date.day && entry.created_at.month == date.month %>
                                        <img src="<%=@user.icon%>" height=40%>
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> User Stats</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge"><%= @user.points[-1].value%> Points</span>
                                        <i class="fa fa-fw fa-calendar"></i> Most Recent Point Entry
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge"><%= @user.avgbg(7)%> mg/dl</span>
                                        <i class="fa fa-fw fa-line-chart"></i> Average over the last 7 days
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge"><%= @user.days_logged(@user) %></span>
                                        <i class="fa fa-fw fa-calendar"></i> Days Logged This Month
                                    </a>
                                    <a href="#" class="list-group-item">
                                      <% entry = @user.points.order('value desc') %>
                                      <% if entry[0].value == 10 %>
                                        <span class="badge"> 100% in range on <%= entry[0].created_at.strftime("%A, %b %d")%></span>
                                        <i class="fa fa-fw fa-trophy"></i> Best Day Ever
                                      <% else %>
                                        <span class="badge"> Over <%= entry[0].value%>0% in range on  <%= entry[0].created_at.strftime("%A, %b %d")%></span>
                                          <i class="fa fa-fw fa-trophy"></i> Best Day Ever
                                      <% end %>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge"> <%=@user.points[-1].created_at.strftime("%A, %b %d")%> </span>
                                        <i class="fa fa-fw fa-check"></i> Last Day Logged
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">  <% if @user.days_logged(@user) >= 14 %>
                                            <img src="/trophies/calendar_silver.png" alt="" width=20px>
                                            
                                          <% elsif @user.days_logged(@user) >= 7 %>
                                            <img src="/trophies/calendar_bronze.png" alt="" width=20px>
                                          <% end %>
                                          <% if @user.best_day(@user) == "100%" %>
                                            <img src="/trophies/100.png" alt="" width=20px>
                                          <% elsif @user.best_day(@user) == "90%"  %>
                                            <img src="/trophies/90.png" alt="" width=20px>
                                          <% elsif @user.best_day(@user) == "80%"  %>
                                            <img src="/trophies/80.png" alt="" width=20px>
                                          <%else%>
                                            <i class="fa fa-question-circle"></i>
                                          <% end %> </span>
                                        <i class="fa fa-fw fa-trophy"></i> Badges Earned
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge"><%= @user.entries.count %></span>
                                        <i class="fa fa-fw fa-check"></i> Total BG entries logged
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge"><%= @user.points[0].created_at.strftime("%A, %b %d")%></span>
                                        <i class="fa fa-fw fa-user"></i> Created Account
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#"> <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title"><i class="fa fa-pie-chart fa-fw"></i>All Time Results</h3>
                        </div>
                        <div class="panel-body">
                          <div>
                            <%= pie_chart @chart, {height: "250px", width: "100%"}%>
                          </div>
                        </div>
                      </div>
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-calendar fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">DaysTracked: <%= @user.points.count %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    <div class="col-lg-4">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-user fa-fw"></i>Top Users</h3>
                        </div>
                        <div class="panel-body">
                          <div class="table-responsive">
                              <table class="table table-bordered table-hover table-striped">
                                  <thead>
                                      <tr>
                                          <th>Username</th>
                                          <th>Level</th>
                                          <th>Points</th>
                                          <th>Icon of Choice</th>
                                          <th>Badges Earned</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <% users = User.all.order(level: :desc) %>
                                    <% x=0 %>
                                    <% 7.times do %>
                                      <tr>
                                        <% if users[x] == @user %>
                                          <td class="bold">YOU!!</td>
                                        <% else %>
                                          <td><%= users[x].username %></td>
                                        <% end %>
                                        <td><%= users[x].level %></td>
                                        <td><%= users[x].total_points(users[x]) %></td>
                                        <td><img src="<%= users[x].icon %>" height=25px></td>
                                        <td>
                                          <% if users[x].days_logged(users[x]) >= 14 %>
                                            <img src="/trophies/calendar_silver.png" alt="" width=20px>
                                            
                                          <% elsif users[x].days_logged(users[x]) >= 7 %>
                                            <img src="/trophies/calendar_bronze.png" alt="" width=20px>
                                          <% end %>
                                          <% if users[x].best_day(users[x]) == "100%" %>
                                            <img src="/trophies/100.png" alt="" width=20px>
                                          <% elsif users[x].best_day(users[x]) == "90%"  %>
                                            <img src="/trophies/90.png" alt="" width=20px>
                                          <% elsif users[x].best_day(users[x]) == "80%"  %>
                                            <img src="/trophies/80.png" alt="" width=20px>
                                          <% end %>
                                        </td>
                                      </tr>
                                      <% x+=1 %>
                                    <%end%>
                                  </tbody>
                              </table>
                          </div>
                          <div class="text-right">
                              <a href="/users">View All Users <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        </div>
        </div>
        </html>
